/**
 * Main CSS for map
 */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-form {
  position: absolute;
  z-index: 999999;
  bottom: 20px;
  left: 10px;
  width: 400px;
  margin: 0;
  padding: 0;
}

.update-map {
  width: 300px;
  font-size: 1.5em;
  padding: .25em;
  border: 1px solid #999999;
  margin: 0;
  display: inline;
}
.update-map.labelling {
  font-color: #777777;
  font-style: italic;
}

.update-map-submit {
  width: 60px;
  display: inline;
  font-size: 1em;
  padding: .25em;
  border: 1px solid #999999;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.5em;
}